h1 {
    text-align: center;
    color: deepskyblue;
}
h2 {
    text-align: center;
    color: green;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
   text-align: center;
}
li {
    text-align: center;
}
nav {background-color: #FFFFFF;
	font-weight: bold;
	text-align:center;
	padding: 1em; }
nav a {text-decoration: none;}